@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
/* custom properties  */
:root {
	--clr-bg: orangered;
	--clr-text: #f5e5bb;
	--clr-accent: darkslateblue;
}

body {
	background-color: var(--clr-bg);
	margin: 0;
	font-family: 'Comic Neue';
	color: var(--clr-text);
}
/* navigation hamburger and  toggle */
header {
	display: flex;
	justify-content: space-between;
	padding: 1em;}


	.nav {
		position: fixed;
		background: var(--clr-text);
		color: var(--clr-bg);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 100;
		/* moves the nav over 100% of the screen so you can't see it */
		transform: translateX(100%);
		transition: transform 250ms cubic-bezier(0.3, 0, 0.3, 1);
	  }

	.nav__list {
		list-style: none;
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		margin: 0;
		padding: 0;
	  }

	  .nav__link {
		color: inherit;
		font-weight: bold;
		font-size: 2em;
		text-decoration: none;
		font-family: inherit;
	  }
	  
	  .nav__link:hover {
		color: var(--clr-accent);
	  }
	  
	  .nav-toggle {
		padding: 0.5em;
		background: transparent;
		border: 0;
		cursor: pointer;
		position: absolute;
		right: 1em;
		top: 1em;
		z-index: 1000;
	  }
	  
	  .nav-open .nav {
		transform: translateX(0);
	  }
	  
	  .nav-open .nav-toggle {
		position: fixed;
	  }
	  /* changes hamburger to an x */
	  .nav-open .hamburger {
		transform: rotate(0.625turn);
	  }
	  /* credates X shape transiton */
	  .nav-open .hamburger::before {
		transform: rotate(90deg) translateX(-8px);
	  }
	  
	  .nav-open .hamburger::after {
		opacity: 0;
	  }
	  
	  .hamburger {
		display: block;
		position: relative;
	  }
	  
	  .hamburger,
	  .hamburger::before,
	  .hamburger::after {
		background: var(--clr-accent);
		width: 2em;
		height: 4px;
		border-radius: 1em;
		transition: transform 250ms ease-in-out;
	  }
	  
	  .hamburger::before,
	  .hamburger::after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
	  }
	  
	  .hamburger::before {
		top: 8px;
	  }
	  .hamburger::after {
		bottom: 8px;
	  }
/* navigation hamburger and  toggle */	  

.sub-header{
	text-align: center;
	font-size: 25px;}

#searchBar {
	width: 50%;
	height: 32px;		
	border-radius: 3px;
	border: 1px solid;
	font-size: 1em;
	
}
	
	
.card {
	list-style: none;
	height: 400px;
	padding: 40px;
	background: linear-gradient(var(--clr-text), white);
	color: var(--clr-accent);
	text-align: center;
	border: 2px solid var(--clr-accent);
	border-radius: 7px;
	box-shadow: 0px 5px 7px

}

.card:hover{
	animation: bounce 0.5s linear;
	cursor: pointer;
	box-shadow: 0px 1px 2px
}

@keyframes bounce {
20%{
	transform: translateY(-6px);
}
40%{
	transform: translateY(0px);
}
60%{
	transform: translateY(-2px);
}
80%{
	transform: translateY(0px);
}
}


.card-title{
	text-transform: uppercase;
	font-size: 200%;
	margin-bottom: 0;
}

.card-subtitle{
	font-weight: lighter;
	color: black;
	margin-top: 0;

}

.card-image{
	height: 180px;
	border-style: solid;
  	border-width: 2px;
	padding: 30px;
	border-radius: 7px;
	background: linear-gradient(to bottom right, blue, pink);
	

}

#pokedex {
	padding-inline: 0;
	/* stops there being a margin allows cards to take up full screen */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
	/* makes the cards spread equally over the page and is responsive  - becasue each card is set 
	to 320px it will grid based on that number */
	grid-gap: 20px;	
}

.container{
	padding: 20px;
	margin: 0 auto;

}

h1{
	text-transform: uppercase;
	text-align: center;
	font-size: 54px;

}

.popup{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
background-color: var(--clr-text);
opacity: 1;
display: flex;
justify-content: center;
align-items: center;
}		

#closeBtn{
	position: absolute;
	top: 30px;
	right: 40px;
}
 button{
	 background-color: var(--clr-bg);
	 padding: 10px 20px;
	 border: none;
	 color: white;
	 border-radius: 10px;
	 transition: transform 100ms;
	
 }

 button:hover{
	 cursor: pointer;
	 transform: translateX(-1px);
	 box-shadow: 0px 1px 2px darkred;
 }

 footer{
	text-align: center;
	font-size: 25px;
	margin: 20px
}