@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
body {
	background-color: orangered;
	margin: 0;
	font-family: 'Comic Neue';
	color: #f5e5bb;
}
.sub-header{
	text-align: center;
	font-size: 25px;}

#searchBar {
	width: 50%;
	height: 32px;		
	border-radius: 3px;
	border: 1px solid;
	font-size: 1em;
	
}
	
	
.card {
	list-style: none;
	height: 400px;
	padding: 40px;
	background: linear-gradient(#f5e5bb, white);
	color: darkslateblue;
	text-align: center;
	border: 2px solid darkslateblue;
	border-radius: 7px;
	box-shadow: 0px 5px 7px

}

.card:hover{
	animation: bounce 0.5s linear;
	cursor: pointer;
	box-shadow: 0px 1px 2px
}

@keyframes bounce {
20%{
	transform: translateY(-6px);
}
40%{
	transform: translateY(0px);
}
60%{
	transform: translateY(-2px);
}
80%{
	transform: translateY(0px);
}
}


.card-title{
	text-transform: uppercase;
	font-size: 200%;
	margin-bottom: 0;
}

.card-subtitle{
	font-weight: lighter;
	color: black;
	margin-top: 0;

}

.card-image{
	height: 180px;
	border-style: solid;
  	border-width: 2px;
	padding: 30px;
	border-radius: 7px;
	background: linear-gradient(to bottom right, blue, pink);
	

}

#pokedex {
	padding-inline: 0;
	/* stops there being a margin allows cards to take up full screen */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
	/* makes the cards spread equally over the page and is responsive  - becasue each card is set 
	to 320px it will grid based on that number */
	grid-gap: 20px;	
}

.container{
	padding: 20px;
	margin: 0 auto;

}

h1{
	text-transform: uppercase;
	text-align: center;
	font-size: 54px;

}

.popup{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
background-color: blanchedalmond;
opacity: 0.95;
display: flex;
justify-content: center;
align-items: center;
}		

#closeBtn{
	position: absolute;
	top: 20px;
	right: 20px;
}
 button{
	 background-color: orangered;
	 padding: 10px 20px;
	 border: none;
	 color: white;
	 border-radius: 10px;
	 transition: transform 100ms;
	
 }

 button:hover{
	 cursor: pointer;
	 transform: translateX(-1px);
	 box-shadow: 0px 1px 2px darkred;
 }

 footer{
	text-align: center;
	font-size: 25px;
	margin: 20px
}